{% extends "_base.html"%}
{% set body_class = 'login-page' %}

{% block title %}
    Entrar
{% endblock %}

{% block head %}
    {{ super() }}
        <!-- icheck bootstrap -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css">

{% endblock %}
{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="{{ url_for('index') }}" class="h1"><b>Boot</b>shop</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Digite seu e-mail e senha para entrar</p>

      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
          {{ form.email(class="form-control", placeholder="Email") }}
          <!-- <input type="email" class="form-control" placeholder="Email"> -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="mb-3">
          {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="input-group mb-3">
          {{ form.password(class="form-control", placeholder="Senha") }}
          <!-- <input type="password" class="form-control" placeholder="Senha"> -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="mb-3">
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              {{ form.remember_me() }}
              <!-- <input type="checkbox" id="remember"> -->
              {{ form.remember_me.label }}
              <!-- <label for="remember">
                Lembrar de mim
              </label> -->
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            {{ form.submit(class="btn btn-primary btn-block") }}
            <!-- <button type="submit" class="btn btn-primary btn-block">Entrar</button> -->
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mt-2 mb-3">
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Entrar com Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Entrar com Google+
        </a>
      </div>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{{ url_for('auth.forgot_password') }}">Esqueci minha senha</a>
      </p>
      <p class="mb-0">
        <a href="{{ url_for('auth.register') }}" class="text-center">Cadastrar como novo usuário</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
